@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*<link href="~/custom.css" rel="stylesheet" /> This link is already in your
    Views/Shared/_Layout.cshtml it should not be repeated here
*@

@*<header>  use h1 element instead of header
    What We Want to do for you as the customer.
</header> *@

@{
    ViewData["Title"] = "About Page";
}

<h1>What We Want to do for you as the customer</h1>
<p>
    Mission:My mission is very simple, to make a profit off of the gear that we sell here. I want to make
    sure I can get my store on the map or on the web and to be able to attract more customers. This store is 
    going to be like a gold mine for those that love to hike and/or play sports.
</p>
<p>
    Vision: The vision that I have for this store is quite simple. I want it to be a place where 
    someone can just look up on the web and easily browse through our selection to get what they need.
    Being able to sort by prices, sizes, type of gear, anything you can dream of.
</p>
<p>
    History: The history of our store isnt that big as of now. We have only set up shop a couple years ago 
    when the pandemic started, We are hoping that in the future, we can become as popular as other vendors, 
    such as Dick's Sporting Goods.'
</p>
