@{
    ViewData["Title"] = "Home Page";
}
@*<link href="~/custom.css" rel="stylesheet" /> This link is already in your
    Views/Shared/_Layout.cshtml it should not be repeated here
*@
<div class="text-center">
    @*<div class="form-group">
        <label for="email" class="control-label">S01276179@acad.tri-c.edu:</label>
        <input type="email" id="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pwd" class="control-label">Password:</label>
        <input id="pwd" type="password" class="form-control" />
    </div>*@
    <h1 class="display-4">Welcome to David's Extreme Gear'</h1>
    
<img src="~/images/download (1).jpg"
         class="img-responsive rounded" />
</div>
@*Text required to be in 2 columns
    wrap both paragraphs in a div class=row element
    Bootstrap uses 12 columns, so split these columns
    and you can use 5-7, or 6-6 or 4-8 as below
*@
<div class="row">
<p class="col-md-5">
    This application is designed to help the user search and recieve the best gear for any kind of sport such as soccer, football, basketball, baseball, volleyball, you name it. Along with that, We also offer the best kind of gear you will need the great outdoors such has hiking sticks, chains, vest, rope, anything you will ever need. So if you are planning 
    a big soccer tournament or a big hiking trip into the mountains, look no further than 
    David's Extreme Gear.
</p>

 <p class="col-md-7">
    If you take a moment of your time to look around our store, you will see we have everything organized in 
    categories of where you would be able to find what you are looking for. For example, if you were
    to shop for baseball gear, you will find it in the sports section under the baseball category.
</p>
</div>
